body {
    font-family: "Cormorant Garamond",serif;
}

.header {
    background: #fff;
}

.header__inner {
    margin: 0 auto;
    padding: 20px 15px;
    max-width: 1230px;
    text-align: center;
}

.header__logo {
    color:rgb(141, 109, 26);
    text-decoration: none;
    font-size: 24px;
}

header-utilities {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header-nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
}