body {
    font-family: "Cormorant Garamond",serif;
}

.header {
    background: #fff;
    border: 1px solid rgb(115, 87, 18);
}

.header__inner {
    margin: 0 auto;
    padding: 8px 20px;
    max-width: 1230px;
    text-align: center;
}

.header__logo {
    color:rgb(115, 87, 18);
    text-decoration: none;
    line-height: 1;
    font-size: 24px;
}

header-utilities {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header-nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
}