.confirm__content,
.confirm__content input,
.confirm__content select,
.confirm__content textarea,
.confirm__content button {
    font-family: "Cormorant Garamond", serif;
}

.confirm__content {
    margin: 0 auto;
    padding: 30px 15px;
    max-width: 1230px;
}

.confirm__heading {
    margin-bottom: 40px;
    text-align: center;
    color: rgb(115, 87, 18);
}

.form {
    margin: 0 auto;
    width: 70%;
    text-align: center;
}

.confirm-table {
    border: 1px solid rgba(237, 232, 223, 0.986);
}

.confirm-table__inner {
    width: 100%;
    font-size: 16px;
}

.confirm-table__header {
    padding: 15px 0 15px 30px;
    width: 30%;
    text-align: left;
    border-bottom: 1px solid #ddd;
    color: #fff;
    background-color: rgba(157, 145, 126, 0.986);
}

.confirm-table__text {
    padding: 15px 0 15px 30px;
    font-size: inherit;
    color: rgba(157, 145, 126, 0.986);
    border-bottom: 1px solid rgba(237, 232, 223, 0.986);
}

.confirm-table__text input {
    width: 100%;
    font-size: inherit;
    color: rgba(157, 145, 126, 0.986);
    outline: none;
    border: none;
}

.confirm-table__row:last-child .confirm-table__header,
.confirm-table__row:last-child .confirm-table__text {
    border-bottom-width: 0;
}

.confirm-table__inner td {
    text-align: left;
}

.form__button {
    margin-top: 30px;
    display: flex;
    gap: 20px;
    justify-content: center;
}

.form__button-submit {
    padding: 10px;
    width: 10%;
    height: 50px;
    border: none;
    border-radius: 3px;
    background: rgb(115, 87, 18);
    color: #fff;
    cursor: pointer;
}

.form__back-button {
    background: none;
    border: none;
    padding: 0;
    color: rgb(115, 87, 18);
    text-decoration: underline;
    cursor: pointer;
    font: inherit;
}

.form__back-button:hover {
    opacity: .7;
}