.contact-form__content {
    margin: 0 auto;
    padding: 30px 15px;
    max-width: 1230px;
}

.contact-form__heading {
    margin-bottom: 30px;
    text-align: center;
    color: rgb(115, 87, 18);
}

.form {
    margin: 0 auto;
    width: 70%;
    text-align: center;
}

.form__group {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.form__label--required {
    margin-left: 0;
    padding: 4px 6px;
    border-radius: 3px;
    color :#ff0000;
}

.form__error {
    height: 20px;
    color: #ff0000;
    text-align: left;
}

input,
textarea,
select,
button {
    font-family: inherit;
}

.form__group-content {
    width: 600px;
}

.form__input--text input,
.form__input--textarea textarea {
    padding: 10px;
    width: 100%;
    background: #eeeff1;
    border: none;

    appearance: none;
}

.form__input--text input {
    height: 40px;
}

.form__input--textarea textarea {
    height: 180px;
    resize: none;
}

.form__input--text-name {
    display: flex;
    justify-content: space-between;
}

.form__input--text-name input {
    padding: 10px;
    height: 40px;
    width: 45%;
    background: #eeeff1;
    border: none;

    appearance: none;
}

.form__input--radio {
    text-align: left;
}

.form__input--text-tel {
    display: flex;
    justify-content: space-between;
}

select {
    -webkit-appearance: none;
    appearance: none;
}

.form__input--text-tel input {
    padding: 10px;
    height: 40px;
    width: 30%;
    background: #eeeff1;
    border: none;
    text-align: center;

    appearance: none;
}

select {
    -webkit-appearance: none;
    appearance: none;
}

.form__input--select {
    position: relative;
    text-align: left;
    width: 100%;
}

.form__group-content-select {
    width: 50%;
    padding: 10px 40px 10px 10px;
    height: 40px;
    background: #eeeff1;
    border: none;
    box-sizing: border-box;
}

.form__input--select::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 45%;
    transform: translateY(-100%);
    width: 0_;
    height: 0;
    border-left: 7px solid transparent;
    border-right: 7px solid transparent;
    border-top: 10px solid rgb(115, 87, 18);
    pointer-events: none;
}

.form__button {
    margin-top: 30px;
}

.form__button-submit {
    padding: 10px;
    width: 30%;
    height: 50px;
    border: none;
    background: rgb(115, 87, 18);
    color: #fff;
    cursor: pointer;
}