body {
    background: #ddd;
}

.register-form__content {
    margin: 0 auto;
    padding: 30px 15px;
    max-width: 1230px;
}

.register-form__heading h2 {
    margin-bottom: 30px;
    text-align: center;
    color: rgb(115, 87, 18);
}

.form {
    margin: 0 auto;
    padding: 30px;
    width: 40%;
    text-align: center;
    background: #fff;
}

.form__group {
    margin-bottom: 5px;
}

.form__group-title {
    text-align: left;
    color: rgb(115, 87, 18);
}

.form__error {
    height: 20px;
    color: #ff0000;
    text-align: left;
}

.form__input--text input {
    padding: 10px;
    width: 100%;
    height: 40px;
    border: none;
    background: #eeeff1;
    font-family: "Cormorant Garamond", serif;

    appearance: none;
}

.form__button {
    margin-top: 20px;
}

.form__button-submit {
    padding: 10px;
    width: 30%;
    height: 50px;
    border: none;
    border-radius: 3px;
    background: rgb(115, 87, 18);
    color: #fff;
    cursor: pointer;
}

.login__link {
    margin-top: 20px;
    text-align: center;
}